@charset "UTF-8";

body {
    background-color: rgb(0, 0, 28);
    margin: 0;
    padding: 0;
}
header, section {
    padding: 20px;
}
header {
    background-color: rgb(20, 20, 33);
    color: white;
    text-align: center;
    font-style: italic;
}
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
div {
    background-color: midnightblue;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    width: 35%;
    text-align: center;
    box-sizing: border-box;
    font-size: medium;
    font-style: italic;
}
img {
    max-width: 100%;
    height: auto;
}
footer {
    margin-top: auto;
    text-align: center;
    background-color: black;
    color: yellow;
    padding: 10px 0;
}

@media (max-width: 770px) {
    div {
        width: 80%;
        max-height: 85vh;
        font-size: 10px;
    }
    header {
        font-size: 10px;
    }
    img {
        max-width: 45%;
    }
}
